In [21]:
# -*- coding: utf-8 -*-
"""
Created on Sun Feb  9 17:39:42 2020

@author: WaterandEnergy
"""
import chart_studio.plotly as py
import pandas as pd
import numpy as np
import mysql.connector
import plotly.graph_objects as go
from plotly.subplots import make_subplots
import time


start_time = time.time()

def get_sql_data(taglist, tablename):   
    """Takes a list of strings with tags and a tablename, 
    returns a pandas dataframe with the tag timeseries"""

    tagstring = taglist[0]
    for nr in range(1, len(taglist)):
        tagstring = tagstring + ', ' + taglist[nr]
        
    print(tagstring)
    conn = mysql.connector.connect(user='root', 
                                  password='pugliawijnislekker',
                                  host='127.0.0.1',
                                  database='Teijin_2019')
    
      
    sqlcommand = 'SELECT Datetime, ' + tagstring + ' FROM ' + tablename
    df = pd.read_sql(sqlcommand, con=conn)
    return df



print("--- %s seconds ---" % (time.time() - start_time))

--- 0.0 seconds ---

In [12]:
## constants

steamcost = {'MP' : 20,
            'LP' : 17,
            'condensate': 2.5}

MP_steam_29barG =    {'energy':2542,  
                      'cost': steamcost['MP'] - steamcost['condensate']} 
MP_steam_11barG =    {'energy':2412,  
                      'cost': steamcost['MP'] - steamcost['condensate']} 
MP_steam_6barG =     {'energy':2386,  
                      'cost': steamcost['MP'] - steamcost['condensate']} 
LP_steam_3barG =     {'energy':2362,  
                      'cost': steamcost['LP'] - steamcost['condensate']} 
LP_steam_injection = {'energy':2739,  
                      'cost': steamcost['LP']}

In [2]:
##Budget 2400
cols= ['A24F06', 'A24F11', 'A24F10', 'B24F11']
df = get_sql_data(cols, 'tdc')
df = df.set_index(pd.to_datetime(df['Datetime']))
df[cols] = df[cols].apply(pd.to_numeric, errors='coerce')

month_totals = df.resample('M').sum()

budget_A2400 = LP_steam_3barG['energy']/3.6*month_totals['A24F11']/month_totals['A24F06']

A24F06, A24F11, A24F10, B24F11

NameError: name 'LP_steam_3barG' is not defined

In [34]:
tags = ['28F12','28F13','28F16', '28F73']

top_perc_of_feed = 0.9

df = get_sql_data(tags, 'tdc')
df = df.set_index(pd.to_datetime(df['Datetime']))
df[tags] = df[tags].apply(pd.to_numeric, errors='coerce')

#df = df.resample('M').sum()

#df['Total reflux'] = df
[(df['28F12']<1000) & (df['28F13']>100)]



df2 = df[(df['28F12']>100) & (df['28F13']>100)]
df2 = df2.resample('M').mean()

df2['Reflux ratio'] = df2['28F13']/(top_perc_of_feed*df2['28F12'])
df2['Reflux ratio']

28F12, 28F13, 28F16, 28F73

Datetime
2019-01-31    2.033358
2019-02-28    2.065614
2019-03-31    2.068613
2019-04-30    2.066263
2019-05-31    2.200957
2019-06-30    2.095550
2019-07-31    2.046727
2019-08-31    2.079110
2019-09-30    2.082627
2019-10-31    2.128334
2019-11-30    2.211407
2019-12-31    2.049874
Freq: M, Name: Reflux ratio, dtype: float64

In [12]:
##Budget 4400
rec_tags = ['44F04', 'B44F04', '44F06', 'B44F06']
df = get_sql_data(rec_tags, 'recovery')

df = df.set_index(pd.to_datetime(df['Datetime']))
df[rec_tags] = df[rec_tags].apply(pd.to_numeric, errors='coerce')






totals = df.resample('M').sum()
totals['Stripper feed ratio'] = (totals['44F04']+totals['B44F04'])/(totals['44F06']+totals['B44F06'])
totals

44F04, B44F04, 44F06, B44F06

,44F04,B44F04,44F06,B44F06,Stripper feed ratio
Datetime,,,,,
2019-01-31,6.071622e+06,6.279715e+06,1.551437e+07,1.431649e+07,0.414046
2019-02-28,5.938368e+06,6.367793e+06,1.468643e+07,1.404473e+07,0.428321
2019-03-31,6.152085e+06,7.216963e+06,1.509312e+07,1.466904e+07,0.449196
2019-04-30,5.469763e+06,5.818942e+06,1.356592e+07,1.163210e+07,0.448000
2019-05-31,2.333195e+06,5.121249e+06,6.042391e+06,1.093604e+07,0.439054
2019-06-30,5.131215e+06,6.291022e+06,1.340699e+07,1.352107e+07,0.424176
2019-07-31,5.706420e+06,6.872262e+06,1.665600e+07,1.558356e+07,0.390163
2019-08-31,5.225216e+06,7.028162e+06,1.525890e+07,1.522827e+07,0.401919
2019-09-30,4.984830e+06,6.698294e+06,1.479106e+07,1.491699e+07,0.393265
2019-10-31,2.553931e+06,5.890488e+06,8.162813e+06,1.405842e+07,0.380016
2019-11-30,4.618996e+06,6.531437e+06,1.500575e+07,1.491207e+07,0.372702
2019-12-31,4.687090e+06,6.624736e+06,1.579834e+07,1.552752e+07,0.361102

In [93]:
## Budget recovery

cols = ['A47F01', 'B47F01', 'C47F01']
cols2 = ['A47F03', 'B47F03', 'C47F03']


effluent_composition = {
        'NMP' : 0.48,
        'Water' : 0.444, 
        'CaCl2' : 0.076
}
reflux_ratio = 0.35

df = get_sql_data(cols, 'recovery')
df = df.set_index(pd.to_datetime(df['Datetime']))
df[cols] = df[cols].apply(pd.to_numeric, errors='coerce')

df2 = get_sql_data(cols2, 'steam')
df2 = df2.set_index(pd.to_datetime(df2['Datetime']))
df2[cols2] = df2[cols2].apply(pd.to_numeric, errors='coerce')
df = df.merge(df2, left_index=True, right_index=True)




df['Total steam'] = df['A47F03']+df['B47F03']+df['C47F03']
df['Total effluent'] = df['A47F01']+df['B47F01']+df['C47F01']
df['Water feed'] = df['Total effluent']*effluent_composition['Water']

month_totals = df.resample('M').sum()


month_totals['Evap factor'] = month_totals['Water feed']/month_totals['Total steam']

A47F01, B47F01, C47F01
A47F03, B47F03, C47F03

A47F03, B47F03, C47F03

In [68]:
## determine recycles

cols = ['44F03','B44F03','A47F01', 'B47F01', 'C47F01']

df = get_sql_data(cols, 'recovery')
df = df.set_index(pd.to_datetime(df['Datetime']))
df[cols] = df[cols].apply(pd.to_numeric, errors='coerce')


df['Extraction feed'] = df['44F03']+df['B44F03']
df['Evap feed'] = df['A47F01']+df['B47F01']+df['C47F01']

month = df.resample('M').sum()
month

44F03, B44F03, A47F01, B47F01, C47F01

,44F03,B44F03,A47F01,B47F01,C47F01,Extraction feed,Evap feed
Datetime,,,,,,,
2019-01-31,7.877207e+06,7.293676e+06,9.307630e+06,1.568845e+07,1.479042e+07,1.517088e+07,3.978650e+07
2019-02-28,7.227162e+06,7.035867e+06,8.349515e+06,1.398847e+07,1.340212e+07,1.426303e+07,3.574011e+07
2019-03-31,7.585168e+06,7.424300e+06,8.946155e+06,1.454874e+07,1.461814e+07,1.500947e+07,3.811303e+07
2019-04-30,5.929207e+06,4.884889e+06,6.025282e+06,1.117894e+07,1.233621e+07,1.081410e+07,2.954044e+07
2019-05-31,2.729964e+06,4.947069e+06,7.594572e+06,1.309837e+07,1.372463e+07,7.677032e+06,3.441758e+07
2019-06-30,6.159092e+06,6.364998e+06,7.991370e+06,1.459288e+07,1.343239e+07,1.252409e+07,3.601664e+07
2019-07-31,8.006879e+06,7.452986e+06,9.352683e+06,1.592744e+07,1.353773e+07,1.545986e+07,3.881786e+07
2019-08-31,6.852703e+06,6.681799e+06,8.986356e+06,1.486128e+07,1.301304e+07,1.353450e+07,3.686068e+07
2019-09-30,7.287229e+06,7.299696e+06,8.801823e+06,1.604855e+07,1.167630e+07,1.458692e+07,3.652667e+07
2019-10-31,3.655929e+06,6.209868e+06,7.207738e+06,1.247984e+07,9.922681e+06,9.865797e+06,2.961026e+07
2019-11-30,7.196080e+06,7.142809e+06,9.122453e+06,1.490201e+07,1.359069e+07,1.433889e+07,3.761515e+07
2019-12-31,7.847428e+06,7.637225e+06,9.127681e+06,1.604176e+07,1.381319e+07,1.548465e+07,3.898263e+07

In [85]:
cols = ['32K003']
production = get_sql_data(cols, 'productie')
production = production.set_index(pd.to_datetime(production['Datetime']))
production[cols] = production[cols].apply(pd.to_numeric, errors='coerce')
production = production.resample('M').sum()
month = month.merge(production['32K003'], left_index=True, right_index=True)
production

32K003

                 32K003
Datetime
2019-01-31  2529.131543
2019-02-28  2440.839689
2019-03-31  2519.118099
2019-04-30  1835.314370
2019-05-31  1223.938619
2019-06-30  2084.124395
2019-07-31  2650.552162
2019-08-31  2320.954965
2019-09-30  2528.645887
2019-10-31  1574.676335
2019-11-30  2408.797303
2019-12-31  2623.378554

In [91]:


month['Evap feed without recycles'] = month['Extraction feed'] * 0.7/0.3
#month['Evap feed']/month['32K003']
month['Evap feed without recycles']/month['32K003']

Datetime
2019-01-31    13996.396307
2019-02-28    13634.816594
2019-03-31    13902.520392
2019-04-30    13748.538040
2019-05-31    14635.599612
2019-06-30    14021.656121
2019-07-31    13609.623702
2019-08-31    13606.685570
2019-09-30    13460.230516
2019-10-31    14618.999527
2019-11-30    13889.672690
2019-12-31    13772.643074
dtype: float64

In [89]:
recycles = month['Evap feed']/month['Evap feed without recycles']-1
recycles

Datetime
2019-01-31    0.123953
2019-02-28    0.073908
2019-03-31    0.088257
2019-04-30    0.170712
2019-05-31    0.921366
2019-06-30    0.232481
2019-07-31    0.076091
2019-08-31    0.167197
2019-09-30    0.073173
2019-10-31    0.286273
2019-11-30    0.124270
2019-12-31    0.078929
dtype: float64

DatetimeIndex(['2019-01-31', '2019-02-28', '2019-03-31', '2019-04-30',
               '2019-05-31', '2019-06-30', '2019-07-31', '2019-08-31',
               '2019-09-30', '2019-10-31', '2019-11-30', '2019-12-31'],
              dtype='datetime64[ns]', name='Datetime', freq='M')

In [94]:

#create new figure

fig = make_subplots(specs=[[{"secondary_y": True}]])


df = df.resample('d').sum()

#add traces

fig.add_trace(go.Scatter(
    x=df.index, 
    y=df['Water feed']/df['Total steam'],
    mode='lines',
    name='Total 4700'))

fig.add_trace(go.Scatter(
    x=df.index, 
    y=df['A47F01']*effluent_composition['Water']/df['A47F03'],
    mode='lines',
    name= 'A4700'))

fig.add_trace(go.Scatter(
    x=df.index, 
    y=df['B47F01']*effluent_composition['Water']/df['B47F03'],
    mode='lines',
    name='B4700'))

fig.add_trace(go.Scatter(
    x=df.index, 
    y=df['C47F01']*effluent_composition['Water']/df['C47F03'],
    mode='lines',
    name='C4700'))


fig.update_yaxes(title_text='Temperature (degC)')
fig.update_layout(
        template='none',
        font=dict(
                size=32,
                color="#7f7f7f"
        ),
        margin=go.layout.Margin(
            l=200,
            r=50,
            b=100,
            t=100,
            pad=4
        )
        )       

fig.update_yaxes(range=[0, 2])

py.iplot(fig)
#fig.show()